; --- Global Container Details -------

; ---- Global cache (for Api Gateway)
; user <username> allcommands allkeys on ><password>
; used to save user and token related details
; Supported Container - Redis / Memcached / MongoDb
gCacheServerType='Redis'
gCacheServerHostname='127.0.0.1'
gCacheServerPort=6379
gCacheServerUsername='ramesh'
gCacheServerPassword='shames11'
gCacheServerDB=0
gCacheServerTable='global_cache'        ; For MongoDb

; --- Global Database
; Global Database details - global.sql
; Supported Container - MySql / PostgreSql
gDbServerType='MySql'
gDbServerHostname='127.0.0.1'
gDbServerPort=3306
gDbServerUsername='root'
gDbServerPassword='shames11'
gDbServerQueryPlaceholder='Named'   ; Named(:param) / Unnamed(?)

gDbServerGlobalDB='sahar_global'
; Tables gDbServerGlobalDB
gGlobalDB_CounterTable='global_counter'
gGlobalDB_ApiCacheTable='api_cache'

gDbServerLogDB='sahar_log'
; Tables gDbServerLogDB
gLogDB_RequestTable='request'
gLogDB_ErrorTable='error_log'
gLogDB_DebugTable='debug_log'

gDbServerAdminDB='sahar_admin'
; Tables gDbServerAdminDB
gAdminDB_AdminTable='admin'
gAdminDB_ContactTable='admin_contact'
gAdminDB_GroupTable='admin_group;
gAdminDB_AdminGroupLinkTable='admin_group_link'

gDbServerCustomerDB='sahar_customer'
; Tables gDbServerCustomerDB
gCustomerDB_CustomerTable='customer'
gCustomerDB_CustomerContactTable='customer_contact'
gCustomerDB_CustomerGroupTable='customer_group'
gCustomerDB_CustomerGroupLinkTable='customer_group_link'

; Master database on global MySql server
customerProductMasterDB='customer_product'             ; contains all entities necessary for a new customer
customerWebsiteMasterDB='customer_website'             ; contains all entities necessary for a new customer

; Sql query placeholder
defaultQueryPlaceholder='Named'            ; Named(:param) / Unnamed(?)
